body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    /* min-height: 100vh; */
    height: 765px;
    background-image: url(C:/DanitHOMEWORKS/Homework4/images/background.jpg);
    background-size: cover;
}

.header {
    display: flex;
    /* height: 45px;
    align-items: center; */
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
    /* opacity: 0.5; */
}

.left-section {
    display: flex;
    height: 45px;
    align-items: center;
    padding-left: 80px;
}

.left-section > h1 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

.right-section {
    display: flex;
    height: 45px;
    align-items: center;
    padding-right: 80px;
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Verdana";
}

.right-section > a {
    padding-right: 20px;
}

.right-section-nav {
    padding-left: 20px;
}

.log-in > a {
    text-decoration: none;
    color: rgb(60, 184, 120);
}

.sign-up > a {
    text-decoration: none;
    color: rgb(60, 184, 120);
}

.bg-compas {
    width: 20px; height: 20px;
    background: url('../images/css_sprites.png') -49px -10px;
}

.bg-forum {
    width: 28px; height: 20px;
    background: url('../images/css_sprites.png') -89px -10px;
}

.bg-calendar {
    width: 19px; height: 19px;
    background: url('../images/css_sprites.png') -10px -10px;
}

a {
    display: inline-block;
}

.deco {
    display: inline-block;
    width:1px;
    height: 20px;
    background-color: rgba(255,255,255,.3);
}

.main-content {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 585px;
    background-color: #FFFFFF;
    padding: 30px 60px;
    margin: 65px auto;
    border-radius: 15px;
}

.square {
    width: 18px;
    height: 20px;
    background-color: #3cb878;
    position: absolute;
    top: 30px;
    left: 0;
}

.sign-log-bar {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sign-log-bar > a {
    text-decoration: none;
}

.sign-up-main {
    height: 25px;
    font-size: 20px;
    font-family: "Verdana";
    color: rgb(67, 67, 67);
}

.log-in-main {
    height: 20px;
    font-size: 14px;
    font-family: "Verdana";
    color: rgb(60, 184, 120);
}

.buttons {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.facebook {
    background-color: #305db8;
    color: #FFFFFF;
    width: 155px;
    height: 45px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    line-height: 3;
    cursor: pointer;
}

.facebook-text {
    height: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.f {
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin-left: 16px;
    margin-right: 16px;
}

.deco-2 {
    display: inline-block;
    width: 1px;
    height: 25px;
    background-color: #2b54a5;
    margin-left: 0px;
    margin-right: 0px;
}

.google {
    background-color: #df4a32;
    color: #FFFFFF;
    width: 155px;
    height: 45px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    line-height: 3;
    cursor: pointer;
}

.google-text {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
    height: 45px;
}

.g {
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-left: 12px;
    margin-right: 10px;
}

.deco-3 {
    display: inline-block;
    width: 1px;
    height: 25px;
    background-color: #c8422d;
    margin-left: 0px;
    margin-right: 0px;
}

.deco-4 {
    text-align: center;
    position: relative;
    margin-block-end: 16px;
}
.deco-4:after {
    content: '';
    width: 100%;
    display: block;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    z-index: 1;
}
.deco-4 span {
    display: inline-block;
    padding: 0 15px;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
}

.form {
    width: 320px;
    height: 45px;
    margin-bottom: 10px;
}

.form:nth-child(5) {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

.input:hover {
    box-shadow: 0px 3px 5px #e7e7e7;
}

.input::placeholder {
    padding-left: 20px;
    color: rgb(190, 190, 190);
    font-size: 14px;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 0px;
}

.agreement {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.agreement > a {
    color: #3cb878;
    padding-left: 3px;
    text-decoration: none;
}

.account {
    height: 45px;
    width: 320px;
    color: #ffffff;
    background-color: #3cb878;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
